/* TABS */
.tabs {
  display: flex;
  overflow-x: scroll;
  scrollbar-width: none;
}
.tabs::-webkit-scrollbar {
  display: none;
}

.tab {
  padding: 10px;
  font: 400 0.875rem/0.875rem var(--ff-primary);
  text-transform: uppercase;
  color: #a8b1bb;
  text-wrap: nowrap;
  cursor: pointer;
}
.tab.isSelected {
  border-radius: 4px 4px 0 0;
  color: var(--co-secondary);
  border-bottom: 2px solid var(--co-secondary);
  background-color: #d9dbff80;
}

/* CONTENT */
.content {
  width: 100%;
  padding: 15px;
}
.content.isPrimary {
  background: linear-gradient(to bottom, var(--co-light) 25%, #f8f9fd 100%);
}
.content.isSecondary {
  background: linear-gradient(to bottom, #f8f9fd 100%, #7d6ae0 100%);
}

.img {
  padding-inline: 25px;
  height: 150px;
  width: 100%;
  object-fit: contain;
  aspect-ratio: 1/1;
}
.headline > p {
  margin-top: 5px;
  font: 400 1.2rem/1.2rem var(--ff-secondary);
  color: var(--co-description-soft);
}
.headline > p:first-of-type {
  margin-top: 10px;
}

.divider {
  margin: 10px 0;
  height: 3px;
  width: 100%;
  background-image: linear-gradient(
    to right,
    #ffffff00 0,
    #d9dbffb0 20%,
    #d9dbffb0 80%,
    #ffffff00 100%
  );
}

.title {
  font: 400 1.25rem/1.375rem var(--ff-primary);
  color: var(--co-description);
}
.title svg {
  vertical-align: bottom;
  margin-left: 4px;
  width: 16px;
  height: 16px;
  flex-shrink: 0;

  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.15s;
}

.summary {
  font: 400 1.25rem/1.25rem var(--ff-secondary);
  color: var(--co-description-soft);
}
.detail {
  font: 400 1.2rem/1.2rem var(--ff-secondary);
  color: var(--co-description-soft);
}
.detail::before {
  padding: 2px 5px 0 0;
  content: '✔'; /* "▹", "→" */
  font-size: 12px;
  color: var(--co-secondary);
}
.summary + .summary,
.detail + .detail {
  margin-top: 5px;
}

.features {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}
.feature {
  padding: 5px 10px;
  font: 400 1rem/1rem var(--ff-secondary);
  color: var(--co-secondary);
  background-color: #d9dbff80;
  border-radius: 4px;
}

.summary:first-child,
.detail:first-child,
.features {
  margin-top: 15px;
}

@media (min-width: 568px) {
  .content {
    display: grid;
    grid-template-columns: 1fr max-content 3fr;
  }

  /* TABS */

  /* CONTENT */
  .content {
    min-height: 350px;
  }

  .headline > p:first-of-type {
    margin-top: 0px;
  }

  .divider {
    height: 100%;
    width: 3px;
    background-image: linear-gradient(
      to bottom,
      #ffffff00 0,
      #d9dbffb0 20%,
      #d9dbffb0 80%,
      #ffffff00 100%
    );
  }

  .body {
    padding-inline: 25px;
  }
}

@media (min-width: 1024px) {
  /* TABS */
  .tab:hover {
    color: var(--co-secondary);
  }

  /* CONTENT */
  .title:hover {
    color: var(--co-secondary);
  }
  .title:hover svg {
    stroke: var(--co-secondary);
    transform: translate(2px, -2px) scale(1);
  }
}
